/*Import of google font Barlow*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/*CSS variables*/

:root {
    --primary-font: "Barlow", serif;
    --primary-color: #082872;
    --secondary-color: #92B4F4;
    --highlightcolor-dark: #251605;
    --highlightcolor-light: #CFDEE7;
    --primary-background: #E4EFF1;
}


/*Global styles*/

body {
    font-family: var(--primary-font);
    background-color: white;
}

header {
    padding-top: 60.5px;
}

h1,
h2 {
    text-align: center;
}


/*Hero image index page*/

#hero {
    background: url(../images/hero.jpg) no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
}


/*Hero image our services*/

#hero-our-services {
    background: url(../images/hero-our-services.jpg) no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
}


/*Slogan on hero pic*/

#cover-box {
    /*Use rgba to also set transparency*/
    background-color: rgba(207, 222, 231, .7);
    position: absolute;
    bottom: 2rem;
    padding: 15px 15px;
    margin-left: 1rem;
}


/*Navbar*/

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 100px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}


/*Body background*/

body {
    background-color: var(--primary-background);
}


/*Customizing the info cards*/

.card {
    margin-bottom: 1.6rem;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: var(--highlightcolor-light);
    border-radius: 0 !important;
}

.btn-dark {
    color: white;
    background-color: var(--primary-color);
    border-radius: 0;
}

.headline {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

#why-us a:hover,
#join-us a:hover {
    background-color: var(--highlightcolor-dark);
}


/*Info-box section*/

#info-box {
    background-color: var(--highlightcolor-light);
    margin-bottom: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/*Second pic on pages*/

#index-pic2 img,
#services-pic2 img {
    width: 80%;
}


/*Testimonials section*/

#contact-btn {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}


/*Send request form (our services page)*/

#form-request {
    border: 2px solid var(--highlightcolor-light);
    max-width: 700px;
    margin-bottom: 1.6rem;
}

#form-request button {
    margin-bottom: 1rem;
}


/*Footer*/

.footer {
    background-color: var(--primary-color);
    color: white;
}

#footer-logo {
    width: 97.5px;
    margin-top: 1rem;
}

#socials i {
    color: white;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0.8rem;
}

#socials i:hover {
    color: var(--highlightcolor-light);
}

footer p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/*Media query mobile 375px and up*/

@media screen and (max-width:369px) {
    #info-box {
        font-size: 14px;
    }
}


/*Media query small size display 576px an up*/

@media screen and (min-width:576px) {
    #cover-box {
        margin-left: 3rem;
    }
    #socials i {
        margin-top: 2rem;
    }
    #footer-logo {
        width: 125px;
        margin-top: 0.5rem;
    }
}


/*Media query medium size display 768px and up(Tablet)*/

@media screen and (min-width:768px) {
    #cover-box {
        margin-left: 6rem;
    }
    #socials i {
        margin-top: 2.1rem;
    }
    #footer-logo {
        width: 125px;
        margin-top: 1rem;
    }
    .index-card {
        min-height: 145px;
    }
    .services-card {
        min-height: 360px;
    }
}


/*Media query for large screen 992px and up*/

@media screen and (min-width:992px) {
    .services-card {
        min-height: 230px;
    }
}


/*Media query for xl screen 1200px and up*/

@media screen and (min-width:1200px) {
    .services-card {
        min-height: 200px;
    }
}

@media screen and (min-width:1400px) {
    .services-card {
        min-height: 180px;
    }
}